<div class="text-white info position-absolute z-index-30 m-auto w-60 d-flex align-items-center justify-content-between"
     [class.wrapped]="data.scrollStatus">
  <div
    class="m-4 pt-2 pb-2 pr-3 pl-3 d-flex justify-content-center align-items-center bg-white text-light-pink title-text-extra-bold title border-25">
    <svg class='mr-3  movie-play-icon play-svg rotate' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'>
      <path d='M16.5,6 L16.5,6 16.5,22 8.5,22 16.5,6   M16.5,6 L16.5,6 24.5,22 16.5,22 16.5,6' [attr.fill]="data.activeItem.color" >
      </path>
    </svg>
    <span class="p-2 font-size-xl-12  font-size-lg-12 font-size-md-12 font-size-sm-12">Watch</span>
  </div>
</div>

<div class="position-absolute z-index-20 w-100">
  <div class="container-fluid">
    <div class="row pl-5 pr-5">
      <div class="mt-4 w-100 d-flex justify-content-center align-items-center">
        <div class="">
          <div
            class="text-white text-center title title-text-extra-bold font-size-xl-12  font-size-lg-12 font-size-md-12 font-size-sm-12">
            Lorem Ipsum
          </div>
          <div
            class="text-white text-center title title-text-extra-bold font-size-xl-16  font-size-lg-16 font-size-md-16 font-size-sm-16">
            110 Years
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



