<div #cursor class="cursor"></div>
<div #cursorFollower class="cursor-follower"></div>
<app-header></app-header>
<div
        class="position-relative bg-light-pink overflow-hidden transition-linear-1 d-flex justify-content-center align-content-end w-100 h-100vh">
    <app-slider class="position-absolute z-index-10 w-100 h-100vh"></app-slider>
    <div class="w-100 position-absolute bg-white" style="bottom: 0px">
        <div class="container">
            <div class="row">
                <div class="col-12 position-relative">
                    <app-slider-bar class="w-100 h-100"></app-slider-bar>
                </div>
            </div>
        </div>
    </div>
</div>


